# BUSINESS UNDERSTANDING

## DESCRIBING THE QUESTION
### 1. SPECIFYING THE QUESTION
The objective was to establish that there is a positive relation between the Production Budget and the Gross Profit, and that when a good investment is made for a film, there will be favorable returns on that investment.


###  2. DEFINING THE METRIC FOR SUCCESS

A film is deemed successful when the returns will be more than the production budget and investment.


### 3. EXPERIMENTAL DESIGN

a) Loading Datasets and Preparing the Data.

b) Data Cleaning to deal with Anomalies and Outliers.

c) Exploratory Data Analysis 

d) Conclusions and Recommendation.

In [95]:
# For numerical operations in data analysis
import numpy as np
# For data analysis and data cleaning 
import pandas as pd
# To open zipped databases
import sqlite3
# For data visualization
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## DATA UNDERSTANDING

#### Loading data from the csv files from Box Office mojo

In [96]:
data_bom = pd.read_csv('zippedData/bom.movie_gross.csv.gz', compression = 'gzip')
data_bom.head(10)

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
5,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010
6,Iron Man 2,Par.,312400000.0,311500000,2010
7,Tangled,BV,200800000.0,391000000,2010
8,Despicable Me,Uni.,251500000.0,291600000,2010
9,How to Train Your Dragon,P/DW,217600000.0,277300000,2010

In [97]:
# summary of what the data entails
data_bom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [98]:
data_bom.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [99]:
data_bom.tail()

,title,studio,domestic_gross,foreign_gross,year
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [100]:
# numerical and statistical description of the data 

data_bom.describe()

       domestic_gross         year
count    3.359000e+03  3387.000000
mean     2.874585e+07  2013.958075
std      6.698250e+07     2.478141
min      1.000000e+02  2010.000000
25%      1.200000e+05  2012.000000
50%      1.400000e+06  2014.000000
75%      2.790000e+07  2016.000000
max      9.367000e+08  2018.000000

#### Loading the csv file from The Numbers

In [101]:
data_tn = pd.read_csv('zippedData/tn.movie_budgets.csv.gz', compression = 'gzip')

In [102]:
data_tn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [103]:
data_tn.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [104]:
data_tn.tail()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

#### Loading data from the zipped file from imdb

In [105]:
imdb = sqlite3.connect("zippedData/im.db/im.db" )
imdb

In [106]:
cur = imdb.cursor()
cur.execute("""
SELECT name 
FROM sqlite_master 
WHERE type = 'table';
""")
table_names = cur.fetchall()
table_names

[('movie_basics',),
 ('directors',),
 ('known_for',),
 ('movie_akas',),
 ('movie_ratings',),
 ('persons',),
 ('principals',),
 ('writers',)]

In [107]:
### Overview of the tables in the imdb dataset
## Review of each of the tables

pd.read_sql("""
SELECT *
FROM 'movie_basics';
""",imdb).head()

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [108]:
pd.read_sql("""
SELECT *
FROM 'movie_ratings';
""",imdb).head()

     movie_id  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [109]:
pd.read_sql("""
SELECT *
FROM 'directors';
""",imdb).head()

    movie_id  person_id
0  tt0285252  nm0899854
1  tt0462036  nm1940585
2  tt0835418  nm0151540
3  tt0835418  nm0151540
4  tt0878654  nm0089502

In [ ]:
pd.read_sql("""
SELECT *
FROM 'known_for';
""",imdb).head()

In [ ]:
pd.read_sql("""
SELECT *
FROM 'movie_akas';
""",imdb).head()

In [ ]:
pd.read_sql("""
SELECT *
FROM 'writers';
""",imdb).head()

In [ ]:
pd.read_sql("""
SELECT *
FROM 'persons';
""",imdb).head()

In [ ]:
pd.read_sql("""
SELECT *
FROM 'principals';
""",imdb).head()

## DATA PREPARATION

In [ ]:
# join the movie_basics and movie_ratings to help draw insights

imdb_ratings_basics = pd.read_sql("""
SELECT *
FROM movie_basics
JOIN movie_ratings
USING(movie_id)
""",imdb)
imdb_ratings_basics.head()

In [ ]:
imdb_ratings_basics.tail()

In [ ]:
# join the directors and persons tables  to help draw insights

imdb_directors = pd.read_sql("""
SELECT primary_name, primary_title
FROM directors
JOIN persons
USING(person_id)
JOIN movie_basics
USING(movie_id)
""",imdb)
imdb_directors.head()

## DATA CLEANING

#### Data Cleaning in the Bom Dataset

Check for null values in the bom dataset

In [ ]:
#there are null values

data_bom.isnull().sum()

In [ ]:
## The foreign gross column dtype is object, we need to coerce the values to numeric
# in order to make analysis

def to_numeric(df, column_list):
    df[column_list] = df[column_list].apply(pd.to_numeric, errors='coerce')
    return df[column_list]

In [ ]:
to_numeric(data_bom, 'foreign_gross')

In [ ]:
## Finding the data of the foreign gross column in the bom dataset 
#to fill the null values

foreign_gross_mode = data_bom.foreign_gross.mode()
print("The foreign gross mode is: " + str(foreign_gross_mode))
foreign_gross_median= data_bom.foreign_gross.median()
print("The foreign gross median is: " + str(foreign_gross_median))
foreign_gross_mean = data_bom.foreign_gross.mean()
print("The foreign gross mean is: " + str(foreign_gross_mean))

In [ ]:
# Replace the null foreign gross with the median

data_bom.foreign_gross.fillna(foreign_gross_median, inplace=True)

In [ ]:
# Finding the mode of the domestic gross column in the bom dataset
domestic_gross_mode = data_bom.domestic_gross.mode()
print("The domestic gross mode is " + str(domestic_gross_mode))
domestic_gross_median = data_bom.domestic_gross.median()
print("The domestic gross median is " + str(domestic_gross_median))
domestic_gross_mean = data_bom.domestic_gross.mean()
print("The domestic gross mean is " + str(domestic_gross_mean))

In [ ]:
# Replace the null foreign gross with the median

data_bom.domestic_gross.fillna(domestic_gross_median, inplace=True)

In [ ]:
data_bom.isnull().sum()

In [ ]:
# drop the remaining null values

data_bom.dropna(inplace = True)

In [ ]:
# Are there any null values remaining?

data_bom.isnull().sum()

Finding outliers in the bom dataset

In [ ]:
# Finding outliers in the bom dataset by defining a function

def find_outliers(df):
    q1=df.quantile(0.25)
    q3=df.quantile(0.75)
    IQR=q3-q1
    outliers = df[((df<(q1-1.5*IQR)) | (df>(q3+1.5*IQR)))]
    return outliers

In [ ]:
find_outliers(data_bom).count()

## There are number of outliers

In [ ]:
# there are no duplicated values in the dataset

data_bom.duplicated().sum()

#### Data Cleaning the imdb set

In [ ]:
## to ensure consistency, make sure the columns are uniform and readable

imdb_ratings_basics.columns = imdb_ratings_basics.columns.str.lower().str.replace('averagerating', 'average_rating')
imdb_ratings_basics.head(1)

In [ ]:
imdb_ratings_basics.columns = imdb_ratings_basics.columns.str.lower().str.replace('numvotes', 'num_votes')
imdb_ratings_basics.head(1)

Check if there are null values in the dataset

In [ ]:
imdb_ratings_basics.isnull().sum()

In [ ]:
# There are null values in the runtime minutes and genres columns

imdb_ratings_basics.shape

In [ ]:
# Replace the missing values in the genres column with 'Missing'

imdb_ratings_basics['genres'].fillna('Missing', inplace=True)

In [ ]:
# Drop the remaining missing values in the runtime minutes

imdb_ratings_basics.dropna(inplace=True)

In [ ]:
imdb_ratings_basics.isnull().sum()

# There are no more null values present

In [ ]:
# There are no duplicated values in the dataset

imdb_ratings_basics.duplicated().sum()

In [ ]:
# Find if there are any outliers

find_outliers(imdb_ratings_basics).count()

There are a number of outliers and they will be ignored inorder to not affect the data

#### Data Understanding and Cleaning of the budget set

In [ ]:
data_tn.info()

In [ ]:
## we need to change the data types to numerical form so as to make data analysis

data_tn['production_budget'] = data_tn['production_budget'].str.replace(',', '').str.replace('$', '').astype('int64')
data_tn['domestic_gross'] = data_tn['domestic_gross'].str.replace(',', '').str.replace('$', '').astype('int64')
data_tn['worldwide_gross'] = data_tn['worldwide_gross'].str.replace(',', '').str.replace('$', '').astype('int64')

In [ ]:
data_tn.info()

## the worldwide_gross data did not change

In [ ]:
data_tn.head()

In [ ]:
data_tn.isnull().sum()

## There are no null values in the dataset!

In [ ]:
data_tn.duplicated().sum()

## There are no duplicated values in the dataset

## DATA ANALYSIS

## Exploratory Data Analysis

### 1. Univariate Data Analysis

#### Data Analysis of the BOM dataset

a) Numerical data

In [ ]:
data_bom.info()

Plotting boxplots for outliers

In [ ]:

fig, ax = plt.subplots()
sns.boxplot(y = data_bom['domestic_gross'])
ax.set_title('Domestic Gross Boxplot')
plt.show()

# From the boxplots below it can be seen that there are a lot of outliers.

In [ ]:

fig, ax = plt.subplots()
sns.boxplot(y = data_bom['foreign_gross'])
ax.set_title('Foreign Gross Boxplot')
plt.show()

# From the boxplots below it can be seen that there are a lot of outliers.

In [ ]:
print("Domestic Gross outliers are " + str(find_outliers(data_bom.domestic_gross).count()))
print("Foreign Gross outliers are " + str(find_outliers(data_bom.foreign_gross).count()))

From the above, the outliers are too many to remove as this will affect the accuracy of the data analysis, and the result could be inconclusive and/or incorrect.

Microsoft must understand its rivals and how to navigate and penetrate the market if it wants to succeed in the movie business.
Here, we observe that Universal and IFC Film Company make the most movies.

#### Measures of Central Tendencies

In [ ]:
#mean
print('The domestic gross mean is: ' + str(data_bom.domestic_gross.mean()))
print('The foreign gross mean is: ' + str(data_bom.foreign_gross.mean()))

#

In [ ]:
# mode
print('The domestic gross mode is: ' + str(data_bom.domestic_gross.mode()))
print('The foreign gross mode is: ' + str(data_bom.foreign_gross.mode()))
print('The modal studio is: ' + str(data_bom.studio.mode()))
print('The modal title is: ' + str(data_bom.title.mode()))
print('The modal year is: ' + str(data_bom.year.mode()))

#

In [ ]:
# median
print('The domestic gross median is: ' + str(data_bom.domestic_gross.median()))
print('The foreign gross median is: ' + str(data_bom.foreign_gross.median()))

In [ ]:
# range
print('The range of domestic gross is :' + str((data_bom.domestic_gross.max() - data_bom.domestic_gross.min())))
print('The range of domestic gross is :' + str((data_bom.foreign_gross.max() - data_bom.foreign_gross.min())))

In [ ]:
# Standard Deviation
print('The standard deviation of the Domestic gross is: ' + str(data_bom.domestic_gross.std()))
print('The standard deviation of the Foreign gross is: ' + str(data_bom.foreign_gross.std()))

In [ ]:
# Variance
print('The variance of the Domestic gross is: ' + str(data_bom.domestic_gross.var()))
print('The variance of the Foreign gross is: ' + str(data_bom.foreign_gross.var()))

##

In [ ]:
# Plotting Histogram to show the above

n_bins = 10

fig, (ax1,ax2) = plt.subplots(1,2, figsize= (10,8))

sns.histplot(data_bom.domestic_gross, ax=ax1, bins= n_bins)
ax1.set_title('Domestic Gross')
sns.histplot(data_bom.foreign_gross, ax=ax2, bins= n_bins)
ax2.set_title('Foreign Gross');

## From the histogram we can see that the data is right skewed and the distribution has a heavy tail and a higher peak
# and a positive kurtosis

b) Categorical data

In [ ]:
studios_movies = data_bom.studio.value_counts().head(10)
studios_movies

## The number of movies produced by a studio

In [ ]:
fig, ax = plt.subplots( figsize = (10,5))
ax.set_title("Studios and Movies")
plt.xlabel("Studios")
plt.ylabel("Num of Movies")
studios_movies.plot.bar();

From the chart baove, the IFC film company has produced the most films

In [ ]:
# Which year had the most movie releases
year_movies = data_bom['year'].value_counts().head(10)
year_movies

In [ ]:
data_bom['year'].value_counts().head(10).plot.bar(figsize=(12,4));

## 2015 had the most movie releases

#### Data Analysis of the imdb dataset

a) Numerical Data

In [ ]:
imdb_ratings_basics.info()

In [ ]:
imdb_ratings_basics.head()

In [ ]:
# Find if there are any outliers

find_outliers(imdb_ratings_basics).count()

From the below results, there are many outliers and we can't replace because might be affect our data analysis substantially

In [ ]:
imdb_ratings_basics.describe()

In [ ]:
# mean
print("The average run time minutes of a movie is: " + str(imdb_ratings_basics.runtime_minutes.mean()))
print("The average number of votes is: " + str(imdb_ratings_basics.num_votes.mean()))


## The average time that movies run for is 95 minutes

In [ ]:
# mode 
print("The modal run time minutes of movies is: " + str(imdb_ratings_basics.runtime_minutes.mode()))
print("The modal rating is: " + str(imdb_ratings_basics.average_rating.mode()))
print("The modal genre is: " + str(imdb_ratings_basics.genres.mode()))

## The common genre is Drama
## The common rating that was made from the movies is 7.0

b)Categorical Data

In [ ]:
# The genres that are produced the most?

imdb_ratings_basics.genres.value_counts().head()

In [ ]:
fig, ax = plt.subplots( figsize = (10,5))
imdb_ratings_basics.genres.value_counts().head().plot.bar()
ax.set_title("Genres")
plt.xlabel("Genres")
plt.ylabel("Num movies");

## Drama, Documentary, Comedy genres are produced the most

In [ ]:
# the titles with the highest ratings

sorted_rating = imdb_ratings_basics.sort_values('average_rating', ascending = False)
sorted_rating.head()

## The genres with the highest ratings are Documentaries with ratings of 10.0

In [ ]:
### Trend of the average runtime minutes of movies over the years

avgminutes = pd.read_sql("""
SELECT start_year, AVG(runtime_minutes)
FROM 'movie_basics'
GROUP BY start_year;
""",imdb)
avgminutes.head()

From the data above we see that the average runtime minutes of movies did not change much over the years.

In [ ]:
imdb_directors.head()

In [ ]:
imdb_directors.info()

In [ ]:
# The Top 10 directors in the industry

imdb_directors.primary_name.value_counts().head(10).plot.pie(autopct='%1.1f%%',figsize=(10,10));

The Directors that have produced the most movies are Tony Newton(15.6%), Jason Impey(12.4%) then Shane Ryan(12.2%)

#### Data Analysis of the The Numbers  dataset

a) Numerical data

In [ ]:
find_outliers(data_tn).count()

There are a number of outliers and stripping them might affect our data.

In [ ]:
## Adding a new column and showing the profit from the difference between the bdget and the profit

data_tn['gross_profit'] = data_tn.worldwide_gross - data_tn.production_budget

In [ ]:
n_bins = 10

fig, (ax1,ax2) = plt.subplots(1,2, figsize= (15,6))

sns.histplot(data_tn.production_budget, ax=ax1, bins= n_bins)
ax1.set_title('Production Budget')
sns.histplot(data_tn.gross_profit, ax=ax2, bins= n_bins)
ax2.set_title('Gross Profit');

## From the histogram we can see that the data is right skewed and the distribution has a heavy tail and a higher peak
# and a positive kurtosis

b) Categorical Data

In [ ]:
data_tn.head()

From the above, we see that the month of May had the most movie releases.

In [ ]:
### The most common values in the dataset by finding the mode

movie_mode = data_tn.movie.mode()
print("the modal movie is " + str(movie_mode))
budget_mode = data_tn.production_budget.mode()
print("The modal budget is " + str(budget_mode))
gross_mode = data_tn.gross_profit.mode()
print("The modal gross profit " + str(gross_mode))

In [ ]:
##The highest grossing films by the World wide gross
top10 = data_tn.nlargest(10,'worldwide_gross')
top10.index = top10.movie
top10[['movie','worldwide_gross']].plot.bar(figsize=(12,4));

In [ ]:
data_tn.head()

In [ ]:
## Top 10 Highest grossing films by the gross profit

top10 = data_tn.nlargest(10,'gross_profit')
top10.index = top10.movie
top10[['movie','gross_profit']].plot.bar(figsize=(12,4));

The datasets above do not contain the exact data, this means that there are movies that did not make more than was invested in the production budget

In [ ]:
## The month that has the most movie releases in a year

data_tn['month'] = pd.DatetimeIndex(data_tn['release_date']). month
release_month= data_tn['month'].value_counts()
release_month.plot(kind='bar', figsize=(8,6))

#set the labels and titles of the plot.
plt.title('Months vs Number Of Movie Releases',fontsize = 15)
plt.xlabel('Month',fontsize = 13)
plt.ylabel('Number of movie releases',fontsize = 13)
sns.set_style("darkgrid");

The month with the most movie releases is December(month 12) with a total of 745 releases over the years

### 2. Bivariate Analysis

In [ ]:
imdb_ratings_basics.head()

In [ ]:
imdb_ratings_basics.groupby('start_year').mean()['runtime_minutes']

In [ ]:
#how the runtime of the movies differ year to year.

#make the group of the data according to their release_year and find the mean  related to this and plot.
imdb_ratings_basics.groupby('start_year').mean()['runtime_minutes'].plot(xticks = np.arange(2010,2020,1))

#setup the figure size.
sns.set(rc={'figure.figsize':(10,5)})

#setup the title of the figure
plt.title("Runtime Vs Year",fontsize = 13)

#setup the x-label and y-label of the plot.
plt.xlabel('Year',fontsize = 11)
plt.ylabel('Runtime',fontsize = 11)
sns.set_style("whitegrid")

From the graph above, the runtime minutes of movies were high then decreased then went back up. The average of run time of movies is about 100 mintes over the entire decade.

In [ ]:
data_tn.head()

In [ ]:
ax = sns.regplot(x=data_tn['production_budget'], y=data_tn['gross_profit'],color='c');
data_corr = data_tn.corr()
print("Correlation Between Gross Profit And Budget : ",data_corr.loc['production_budget','gross_profit'])

The Correlation between Gross Profit and Budget is 0.6 which is a moderate positive correlation which means there is a good possibility that movies with higher investments may result in better revenues.

## RECOMMENDATIONS

-The findings of the study presented above lead one to the conclusion that there is, in fact, a positive link between the production budget and the gross profit. 

-The top three directors at Microsoft are Tony Newton (15.6%), Jason Impey (12.4%), and Shane Ryan (12.2%), and the company will need to recruit all three of them.

-When getting started, there is one more element that should be taken into account, and that is the run time minutes of movies. Over the last ten years, the typical run length of a movie has been between 80 and 100 minutes.